<!DOCTYPE html>
<html>
<head>
  {{> head}}
  {{ghost_head}}
</head>
<body class="{{body_class}} min-h-screen flex flex-col justify-between">

<div class="mx-auto lg:mx-0 px-2 lg:px-4 xl:pl-8 pt-4 sm:pt-6">
  {{> header}}
  {{{body}}}
</div>
{{> footer}}
{{ghost_foot}}
</body>
</html>
