{{!< default}}
<div id="wrapper">
  <div id="tags">
    {{#get "tags" limit="all" order="name asc"}}
      {{#foreach tags}}
        <div class="tag">
          <a href="{{url}}">{{name}}</a>
        </div>
      {{/foreach}}
    {{/get}}
  </div>
</div>
