{{!< default}}
{{#post}}
<div class="post post-body">
    {{content}}
    <div class="post post-foot">
        <div class="post-foot-right">
        </div>
        <div class="post-foot-left">
        </div>
    </div>
</div>
{{/post}}
