
@font-face {
  font-family: 'Futura';
  src: url('assets/fonts/Futura.ttc')  format('truetype'), /* Safari, Android, iOS */
}

a,
a:focus,
a:hover {
  color: #333333;
  text-decoration: none;
}

html,
body {
  height: 100%;
  background-color: #ffffff;
  font-family: 'Futura', sans-serif;

  color: #333333;
  text-align: left;
}

img {
  max-width: 100%;
}


.title {
  font-weight: 100;
  margin-left: -0.3vw;
  margin-top: 3vw;
  font-size: 25px;

}

.title a, .title a:hover, .title a:visited { text-decoration: none; }

.content {
  width: 1125px;
  margin-left: 3%;
}

.post {
  text-align: left;
  max-width: 100%;

  margin-bottom: 0px;
}

.post-title {}

.post-head {}

.post-body {
  display:inline-block;
  width: 100%;
  font-size: 12px;

  margin-top: 1.5vw;
}

.post-foot {
    margin-top: -14px;
    position: relative;

    font-size: 10px;
}

.post-foot a {
  text-decoration: none;
}

.post-foot a:focus, .post-foot a:hover {
  text-decoration: none;
  border-bottom: 2px solid #333333;
}

.post-foot-left {
  height: 100%;
  width: 75%;
}

.post-foot-right {
  text-align: right;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 25%;
}

.tag {
}

#wrapper {
  position:relative;
}

#nav {
  display: none;
}

#infscr-loading img {
  display: none !important;
}

.info {
  text-align: center;
  margin-bottom: 30px;
}

/* QUERIES */

@media screen and (max-width: 1200px) {

  .content { margin: auto; }
  .post-body, .content { width: auto; }

}
