
@font-face {
  font-family: 'Futura';
  src: url('assets/fonts/Futura.ttc')  format('truetype'), /* Safari, Android, iOS */
}

a,
a:focus,
a:hover {
  color: #333333;
  text-decoration: none;
}

html,
body {
  height: 100%;
  background-color: #ffffff;
  font-family: 'Futura', sans-serif;

  color: #333333;
  text-align: left;
}

img {
  max-width: 100%;
}

.title {
  font-size: 25px;
  font-weight: 100;

  margin-top: 3vw;
  margin-left: -0.3vw;

}

.title a, .title a:hover, .title a:visited { text-decoration: none; }

.content {
  width: 750px;
  margin-left: 2%;
}

.post {
  text-align: left;
  max-width: 100%;

  margin-bottom: 20px;
}

.post-title {}

.post-head {}

.post-body {
  display:inline-block;
}

.post-foot {
    margin-top: -16px;
    position: relative;

    font-size: 12px;
}

.post-foot a {
  text-decoration: none;
}

.post-foot a:focus, .post-foot a:hover {
  text-decoration: none;
  border-bottom: 2px solid #333333;
}

.post-foot-left {
  height: 100%;
  width: 75%;
}

.post-foot-right {
  text-align: right;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  width: 25%;
}

.tag {
}

#wrapper {
  position:relative;
}

/* QUERIES */

@media screen and (max-width: 750px) {
  .content {
    width: auto;
    margin-left: 0;
  }
}
