
@font-face {
  font-family: 'Futura';
  src: url('assets/fonts/Futura.ttc')  format('truetype'), /* Safari, Android, iOS */
}

a,
a:focus,
a:hover {
  color: #333333;
  text-decoration: none;
}

p {
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #ffffff;
  font-family: 'Futura', sans-serif;

  color: #333333;
  text-align: left;
}

img {
  max-width: 100%;
}

.title {
  font-weight: 100;
  margin-top: 3vw;
  font-size: 25px;

  margin-left: -0.3vw;
}

.title a, .title a:hover, .title a:visited { text-decoration: none; }

#content {
  margin-bottom: 10vw;
}

.post {
  text-align: left;
  max-width: 100%;

  margin-bottom: 0px;
}

.post-title {}

.post-head {}

.post-body {
  display:inline-block;
  width: 100%;
  font-size: 12px;

  margin-top: 1.5vw;
}

.post-foot {
    margin-top: 5px;
    position: relative;

    font-size: 10px;
}

.post-foot a {
  text-decoration: none;
}

.post-foot a:focus, .post-foot a:hover {
  text-decoration: none;
  border-bottom: 2px solid #333333;
}

.post-foot-left {
  width: 75%;

  float: left;
}

.post-foot-right {
  text-align: right;
  width: 25%;

  float: right;
}

.tag {
}

#wrapper {
  position:relative;
}

#nav {
  display: none;
}

#infscr-loading img {
  display: none !important;
}

.info {
  text-align: center;
  margin-bottom: 30px;
}
