
@font-face {
  font-family: 'Futura';
  src: url('assets/fonts/Futura.ttc')  format('truetype'), /* Safari, Android, iOS */
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

a,
a:focus,
a:hover {
  color: #333333;
  text-decoration: none;
}

p {
  margin: 0;
}

html,
body {
  height: 100%;
  background-color: #ffffff;
  font-family: 'Futura', sans-serif;

  color: #333333;
  text-align: left;
}

img {
  max-width: 100%;
}

#title {
  font-size: 25px;
  font-weight: 100;
  margin-top: 3vw;
  font-size: 25px;

  margin-left: -0.3vw;
}

#title a, #title a:hover, #title a:visited { text-decoration: none; }

#content {
  margin-bottom: 10vw;
}

.post {
  text-align: left;
  max-width: 100%;

  margin-bottom: 0px;
}

.post-title {
  color: #999999;
}

.post-head {}

.post-body {
  display:inline-block;
  width: 100%;
  font-size: 12px;

  margin-top: 1.5vw;
}

.post-foot {
    margin-top: 5px;
    position: relative;

    font-size: 12px;
}

.post-foot a {
  text-decoration: none;
}

.post-foot a:focus, .post-foot a:hover {
  text-decoration: none;
  border-bottom: 2px solid #333333;
}

.post-foot-left {
  width: 75%;

  float: left;
}

.post-foot-right {
  text-align: right;
  width: 25%;

  float: right;
}

.tag {
}

#wrapper {
  position:relative;
}

#nav {
  display: none;
}

#infscr-loading img {
  display: none !important;
}

.info {
  text-align: center;
  margin-bottom: 30px;
}

/* EMBEDYT.JS */

.embedyt {
    position: relative;
    padding-bottom: 56.23%;
    /* Use 75% for 4:3 videos */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;

    text-align: center;
    font-size: 5vw;
}

.embedyt iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.embedyt img {
    bottom: 0;
    display: block;
    left: 0;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
}


.embedyt .play {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    cursor: pointer;
    color: #FFFFFF;
}

/* TAGS */

#tags {

  margin-top: 5%;
  display: inline-block;
}

#tags a {
  font-size: 25px;
}

#tags a:hover {
  border-bottom: 3px solid #333333;
}

/* NAV LINKS */

#nav-links {

  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

#nav-links a {
  margin-right: 5px;
  color: #999999;
  text-decoration: underline;
}

#nav-links a:hover {
  color: #333333;
}
